:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
  }

  form {
    position: relative;

    button {
      margin-top: 16px;
    }
  }

  mat-icon {
    cursor: pointer;
  }

  .logo-container {
    width: 170px;
  }

  .validation {
    font-size: 10.5px;
    position: absolute;
    right: 0;
    bottom: -32px;
  }
}
