<div class="loader"
     *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<form [formGroup]="loginForm" (ngSubmit)="login()">

  <mat-form-field class="form-dir-rtl" appearance="outline">
    <mat-label>שם משתמש</mat-label>
    <input type="text" matInput formControlName="userName">
    <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
      יש להכניס שם משתמש
    </mat-error>
  </mat-form-field>

  <mat-form-field class="form-dir-rtl" appearance="outline">
    <mat-label>סיסמא</mat-label>
    <input type="password" matInput formControlName="password">
    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
      יש להכניס סיסמא
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" [disabled]="!loginForm.valid">כניסה</button>
</form>
