<div class="loader"
     *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<section>
  <div class="logo-container">
    <img src="assets/images/flexy-logo.png">
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <flexy-icon icon="delete"></flexy-icon>
    <mat-form-field class="form-dir-rtl" appearance="outline">
      <mat-label>שם משתמש</mat-label>
      <input type="text" matInput formControlName="userName">
      <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
        יש להכניס שם משתמש
      </mat-error>
      <mat-error *ngIf="loginForm.controls['userName'].hasError('pattern')">
        יש להכניס רק אותיות
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl" appearance="outline">
      <mat-label>סיסמא</mat-label>
      <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="password">
      <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
        יש להכניס סיסמא
      </mat-error>

      <div class="validation"
           *ngIf="userNameOrPasswordError$ | async as errorMessage">
        {{errorMessage}}
      </div>
      <mat-icon matPrefix (click)="togglePassword()">{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <button flexyButton color="navy" size="large" [disabled]="!loginForm.valid">כניסה</button>
  </form>
</section>
