<div class="top">
  <mat-form-field class="form-dir-rtl">
    <mat-label>חיפוש</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
  <div class="btn-container">
    <button mat-raised-button color="primary" (click)="addNewStudent()">הוספה תלמיד</button>
    <button mat-raised-button color="accent" (click)="exportToExcel()">
      <mat-icon>file_download</mat-icon>
      הורדה אקסל
    </button>
  </div>
</div>

<div class="table-container" *ngIf="allStudents$ | async">
  <div class="loader"
       *ngIf="isLoading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <table id="ExampleMaterialTable" mat-table [dataSource]="dataSource" matSort matSortStart="asc">
    <!-- First Name Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell mat-sort-header *matHeaderCellDef>שם פרטי</th>
      <td mat-cell *matCellDef="let student">{{student.firstName}}</td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>שם משפחה</th>
      <td mat-cell *matCellDef="let student">{{student.lastName}}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>מס' טלפון</th>
      <td mat-cell *matCellDef="let student">{{student.phone}}</td>
    </ng-container>

    <!-- School Column -->
    <ng-container matColumnDef="school">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        בית ספר
      </th>
      <td mat-cell *matCellDef="let student">{{student.school}}</td>
    </ng-container>

    <!-- Year Column -->
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>
        שכבה
      </th>
      <td mat-cell *matCellDef="let student">{{student.year}}</td>
    </ng-container>

    <!-- Questionary Column -->
    <ng-container matColumnDef="questionaryAnswered">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        אבחון
      </th>
      <td mat-cell *matCellDef="let student" class="questionary-done-icon">
        {{student.questionaryAnswered ? '&#10003;' : ''}}
      </td>
    </ng-container>

    <!-- Visual Column -->
    <ng-container matColumnDef="totalVisual">
      <th mat-header-cell *matHeaderCellDef>
        ויזואלי
      </th>
      <td mat-cell *matCellDef="let student">{{student.totalVisual}}</td>
    </ng-container>

    <!-- Movement Column -->
    <ng-container matColumnDef="totalMovement">
      <th mat-header-cell *matHeaderCellDef>
        תנועתי
      </th>
      <td mat-cell *matCellDef="let student">{{student.totalMovement}}</td>
    </ng-container>

    <!-- Auditory Column -->
    <ng-container matColumnDef="totalAuditory">
      <th mat-header-cell *matHeaderCellDef>
        שמיעתי
      </th>
      <td mat-cell *matCellDef="let student">{{student.totalAuditory}}</td>
    </ng-container>

    <!-- Auditory Column -->
    <ng-container matColumnDef="reset">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let student">
        <button mat-button color="accent" *ngIf="student.questionaryAnswered">איפוס אבחון</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let student; columns: displayedColumns;" (click)="editStudent(student)"></tr>
  </table>
</div>
