:host {
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      height: 30px;
    }
  }

  .table-container {
    position: relative;
  }

  table {
    width: 100%;

    tr.mat-row {
      cursor: pointer;

      &:hover {
        background: whitesmoke;
      }
    }

    td.mat-cell:last-of-type, {
      width: 110px;
    }

    td.questionary-done-icon {
      font-size: 20px;
      padding-right: 10px;
    }

    .mat-header-cell {
      font-size: 14px;
      text-align: right;
    }
  }
}
