:host {
  direction: rtl;
  width: 600px;
  display: block;

  .mat-dialog-title {
    display: flex;
    align-items: center;

    .title {
      flex: 1;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  ::ng-deep .mat-tab-body-content {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 2rem;
    gap: 10px;

    .user-info {
      max-width: 200px;
    }
  }

  .btn-container {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
