:host {
  direction: rtl;
  width: 800px;
  display: block;

  .mat-dialog-title {
    display: flex;
    align-items: center;

    .title {
      flex: 1;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  .mat-dialog-actions {
    padding: 20px 0;
    min-height: auto;
  }

  .progress-tab,
  .results-accordion {
    margin-bottom: 20px;
  }

  .mat-expansion-panel-header-title {
    font-weight: 600;
    font-size: 18px;
  }

  ::ng-deep .mat-tab-body-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    padding-left: 20px;
    padding-right: 3px;

    .user-info {
      max-width: 200px;

      &:nth-child(1) {
        margin-top: 2rem;
      }
    }

    .question-read-only {
      table {
        border-spacing: 0;
        width: 100%;

        tr > th, td {
          white-space: nowrap;
          text-align: right;
          border-bottom: 1px solid;
          padding: 10px;
        }

        tr > td {
          white-space: normal;
          word-break: break-all;
        }

        tbody tr:hover {
          background-color: var(--success-300);
        }
      }
    }
  }

  .reset-questionary-btn-container {
    display: flex;
    margin-top: 20px;
  }

  .results-table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    text-align: center;
    width: 100%;

    caption {
      padding: 1em 0;
      font-size: 1.2em;
      color: #555;
    }

    th {
      font-weight: 600;
      padding: 0.5em;
    }

    td,
    th,
    caption {
      padding: 0.5em;
    }

    thead tr,
    tr:nth-child(even) {
      background: #f8f8f8;
    }

    tr:hover {
      background: #f1f7ff;
    }
  }

  .empty-answers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .icon-button {
    padding: 10.5px;
  }
}
