<div class="loader"
     *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-title>
  <div class="title">{{data.title}} {{data.firstName}} {{data.lastName}}</div>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<form [formGroup]="form" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-tab-group dir="rtl">
      <mat-tab label="פרטים אישיים">
        <mat-form-field class="form-dir-rtl user-info">
          <mat-label>שם פרטי</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="form.controls['firstName'].hasError('required')">
            יש להכניס שם פרטי
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-dir-rtl user-info">
          <mat-label>שם משפחה</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="form.controls['lastName'].hasError('required')">
            יש להכניס שם משפחה
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-dir-rtl user-info">
          <mat-label>מספר טלפון</mat-label>
          <input matInput formControlName="phone">
          <mat-error *ngIf="form.controls['phone'].hasError('pattern')">
            מותר להכניס רק מספרים
          </mat-error>
          <mat-error *ngIf="form.controls['phone'].hasError('required')">
            יש להכניס מספר טלפון
          </mat-error>
          <mat-error
            *ngIf="!form.controls['phone'].valid && form.controls['phone'].touched && form.controls['phone'].dirty && form.controls['phone'].hasError('minlength')">
            מספר קצר מידי
          </mat-error>
          <mat-error
            *ngIf="!form.controls['phone'].valid && form.controls['phone'].touched && form.controls['phone'].dirty && form.controls['phone'].hasError('maxlength')">
            מספר ארוך מידי
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-dir-rtl user-info">
          <mat-label>בית ספר</mat-label>
          <input matInput formControlName="school">
          <mat-error *ngIf="form.controls['school'].hasError('required')">
            יש להכניס בית ספר
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-dir-rtl user-info">
          <mat-label>שכבה</mat-label>
          <mat-select formControlName="year">
            <mat-option *ngFor="let year of years" [value]="year.value">
              {{year.viewValue}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['year'].hasError('required')">
            יש לבחור שכבה
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-dir-rtl user-progress" *ngIf="data.isEdit">
          <mat-label>התקדמות של התלמיד</mat-label>
          <textarea matInput placeholder="איך התלמיד מתקדם בתהליך" formControlName="studentProgress"></textarea>
          <mat-error *ngIf="form.controls['year'].hasError('required')">
            יש להכניס התקדמות
          </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="אבחון" *ngIf="data.isEdit">
        <ng-container *ngIf="selectQuestionsByUser$ | async as questions; else emptyQuestions">
          <mat-accordion class="results-accordion" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  סגנון ויזואלי
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="question-read-only">
                <table>
                  <thead>
                  <tr>
                    <th>מ. שאלה</th>
                    <th>שאלה</th>
                    <th>תשובה</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let question of questions | slice:0:10">
                  <tr>
                    <td>{{question.id}}</td>
                    <td>{{question.question}}</td>
                    <td>{{question.answer}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  סגנון תנועתי
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="question-read-only">
                <table>
                  <thead>
                  <tr>
                    <th>מ. שאלה</th>
                    <th>שאלה</th>
                    <th>תשובה</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let question of questions | slice:10:20">
                  <tr>
                    <td>{{question.id}}</td>
                    <td>{{question.question}}</td>
                    <td>{{question.answer}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  סגנון שמיעתי
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="question-read-only">
                <table>
                  <thead>
                  <tr>
                    <th>מ. שאלה</th>
                    <th>שאלה</th>
                    <th>תשובה</th>
                  </tr>
                  </thead>
                  <tbody *ngFor="let question of questions | slice:20">
                  <tr>
                    <td>{{question.id}}</td>
                    <td>{{question.question}}</td>
                    <td>{{question.answer}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </ng-container>
        <ng-template #emptyQuestions>
          <div class="empty-answers">
            תלמיד זה עדיין לא עשה אבחון
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="התקדמות" *ngIf="data.isEdit">
        <ng-container *ngIf="selectStudentsAnswers$ | async as data; else emptyData">
          <div class="progress-tab">
            <highcharts-chart [Highcharts]="Highcharts"
                              [options]="chartOptions$ | async">
            </highcharts-chart>
            <table class="results-table">
              <thead>
              <tr>
                <th>תאריך ביצוע אבחון</th>
                <th>סגנון ויזואלי</th>
                <th>סגנון תנועתי</th>
                <th>סגנון שמיעתי</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of data">
                <th>{{item.date | date: 'dd/MM/yyyy'}}</th>
                <td>{{item.visual}}</td>
                <td>{{item.movement}}</td>
                <td>{{item.auditory}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        <ng-template #emptyData>
          <div class="empty-answers">
            תלמיד זה עדיין לא עשה אבחון
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions>
    <div class="btn-container">
      <button flexyButton color="navy" size="medium" type="submit" [disabled]="!(form.valid && form.dirty)">
        שמור
      </button>
      <button flexyButton color="secondary" size="medium" type="button" (click)="close()">בטל</button>
    </div>

    <button flexyButton type="button" size="medium" class="icon-button" color="critical" (click)="deleteStudent()" *ngIf="data.isEdit">
      <mat-icon>delete</mat-icon>
    </button>

    <button flexyButton type="button" size="medium" color="critical" appearance="ghost" (click)="resetForm()" *ngIf="!data.isEdit">
      איפוס
    </button>
  </div>
</form>
