<div class="loader"
     *ngIf="isLoading$ | async">
  <mat-spinner></mat-spinner>
</div>

<div mat-dialog-title>
  <div class="title">{{data.title}} {{data.firstName}} {{data.lastName}}</div>
  <mat-icon (click)="close()">close</mat-icon>
</div>

<form [formGroup]="managerForm" (ngSubmit)="save()">
  <div mat-dialog-content>
    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>שם פרטי</mat-label>
      <input matInput formControlName="firstName">
      <mat-error *ngIf="managerForm.controls['firstName'].hasError('required')">
        יש להכניס שם פרטי
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>שם משפחה</mat-label>
      <input matInput formControlName="lastName">
      <mat-error *ngIf="managerForm.controls['lastName'].hasError('required')">
        יש להכניס שם משפחה
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>שם משתמש</mat-label>
      <input matInput formControlName="userName">
      <mat-error *ngIf="managerForm.controls['userName'].hasError('required')">
        יש להכניס שם משתמש
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>מספר טלפון</mat-label>
      <input matInput formControlName="phone">
      <mat-error *ngIf="managerForm.controls['phone'].hasError('pattern')">
        מותר להכניס רק מספרים
      </mat-error>
      <mat-error *ngIf="managerForm.controls['phone'].hasError('required')">
        יש להכניס מספר טלפון
      </mat-error>
      <mat-error
        *ngIf="!managerForm.controls['phone'].valid && managerForm.controls['phone'].touched && managerForm.controls['phone'].dirty && managerForm.controls['phone'].hasError('minlength')">
        מספר קצר מידי
      </mat-error>
      <mat-error
        *ngIf="!managerForm.controls['phone'].valid && managerForm.controls['phone'].touched && managerForm.controls['phone'].dirty && managerForm.controls['phone'].hasError('maxlength')">
        מספר ארוך מידי
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>סיסמא</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="managerForm.controls['password'].hasError('required')">
        יש להכניס סיסמא
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-dir-rtl user-info">
      <mat-label>אימות סיסמא</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="managerForm.controls['confirmPassword'].hasError('required')">
        יש להכניס סיסמא
      </mat-error>
    </mat-form-field>

    <div class="validation" *ngIf="managerForm.errors?.['notMatched'] && (managerForm.touched || managerForm.dirty)">
      סיסמא לא תואמת
    </div>

  </div>
  <div mat-dialog-actions>
    <div class="btn-container">
      <button mat-raised-button color="primary" type="submit" [disabled]="!(managerForm.valid && managerForm.dirty)">שמור</button>
      <button mat-button type="button" (click)="close()">בטל</button>
    </div>

    <button mat-raised-button color="warn" type="button" (click)="deleteManager()" *ngIf="data.isEdit">
      <mat-icon>delete</mat-icon>
    </button>

    <button mat-button color="warn" type="button" (click)="resetForm()" *ngIf="!data.isEdit">
      איפוס
    </button>
  </div>
</form>
