:host {
  direction: rtl;
  width: 600px;
  display: block;

  .mat-dialog-title {
    display: flex;
    align-items: center;

    .title {
      flex: 1;
    }

    mat-icon {
      cursor: pointer;
    }
  }

  .mat-dialog-content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .user-info {
      max-width: 210px;

      mat-icon {
        cursor: pointer;
      }
    }
  }

  .mat-dialog-actions {
    padding: 20px 0;
    min-height: auto;
  }

  .icon-button {
    padding: 10.5px;
  }
}
