:host {

  .top {
    margin-bottom: 12px;
  }

  .table-container {
    position: relative;
    overflow: auto;
    max-height: calc(100vh - 210px);
  }

  table {
    width: 100%;

    tr.mat-row {
      cursor: pointer;
      height: 52px;

      &:hover {
        background: var(--primary-100);
      }
    }

    td.mat-cell:last-of-type, {
      width: 110px;
    }

    .mat-header-cell {
      font-size: 16px;
      text-align: right;
      color: #000;
    }
  }
}
