:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-sidenav-container {
    height: 100vh;
  }

  mat-sidenav {
    padding: 0 10px;
  }

  ::ng-deep .mat-list-item-content {
    gap: 8px;
  }

  .mat-toolbar > div {
    flex: 1;
    text-align: center;
  }

  .container {
    padding: 20px;
  }

  .link {
    &.active {
      background-color: var(--primary-200);
    }
  }
}
