<mat-toolbar color="primary">
  <button mat-mini-fab (click)="sidenav?.toggle()" class="menu-btn" *ngIf="!hideMenu">
    <mat-icon>menu</mat-icon>
  </button>
  <a href="javascript:void(0)" (click)="openAboutDialog()" class="about-link">אודות</a>
  <div class="middle">
    <div class="logo-container">
      <img src="assets/images/flexy-logo.png">
    </div>
  </div>
  <button flexyButton color="navy" (click)="logout()">יציאה</button>
</mat-toolbar>

<mat-sidenav-container dir="rtl">
  <mat-sidenav #sidenav mode="side" opened="false">
    <mat-nav-list>
      <a mat-list-item class="link"
         [routerLink]="link.path"
         (click)="sidenav?.close()"
         *ngFor="let link of links"
         routerLinkActive
         #routerLinkActiveInstance="routerLinkActive"
         [class.active]="routerLinkActiveInstance.isActive">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.title}}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <flexy-footer></flexy-footer>
</mat-sidenav-container>
