:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-sidenav-container {
    height: 100vh;

    ::ng-deep mat-sidenav-content {
      display: flex;
      flex-direction: column;
    }
  }

  mat-sidenav {
    padding: 0 10px;
  }

  ::ng-deep .mat-list-item-content {
    gap: 8px;
  }

  .mat-toolbar.mat-primary {
    height: 80px;
  }

  .menu-btn {
    margin-left: 20px;
  }

  .about-link {
    color: var(--lemon-500);
    text-decoration: none;
    font-size: var(--size-20);
    cursor: pointer;

    &:hover {
      color: var(--lemon-700);
    }
  }

  .middle {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;

    .logo-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 130px;
      }
    }
  }

  .container {
    padding: 20px;
    flex: 1;
  }

  .link {
    &.active {
      background-color: var(--primary-200);
    }
  }
}
