<mat-toolbar color="primary">
  <div class="logo-container">
    <img src="assets/images/flexy-logo.png">
  </div>
  שאלון לאיתור סגנון למידה
  <button mat-raised-button color="primary" (click)="logout()">יציאה</button>
</mat-toolbar>

<section class="container">
  <h2>סמן את הניקוד המתאר באופן הטוב ביותר את מידת התאמתו של ההיגד אליך. אפשרויות הניקוד:</h2>
  <div class="rules">
    <p>1- לא מתאים כלל.</p>
    <p>2 -מתאים לעיתים רחוקות.</p>
    <p>3 -מתאים לפעמים.</p>
    <p>4 -מתאים לעיתים קרובות.</p>
    <p>5 -כמעט תמיד מתאים.</p>
  </div>
  <b>ענה בכנות. אין תשובה נכונה או לא נכונה. מדובר בהעדפות אישיות אותן אנו מנסים לגלות.</b>

  <button flexyButton size="large" color="info" class="start-button" (click)="startQuestionary()">התחל</button>
</section>
