:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-toolbar.mat-primary {
    height: 70px;
  }

  .logo-container {
    display: flex;
    width: 80px;
  }

  .about-link {
    color: var(--lemon-500);
    text-decoration: none;
    font-size: var(--size-20);
    cursor: pointer;

    &:hover {
      color: var(--lemon-700);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding: 16px;
    flex: 1;
  }

  .rules {
    font-size: 16px;
  }

  .start-button {
    margin-top: 20px;
  }
}
