<mat-toolbar color="primary">
  <a href="javascript:void(0)" (click)="openAboutDialog()" class="about-link">אודות</a>

  <div class="logo-container">
    <img src="assets/images/flexy-logo.png">
  </div>

  <button flexyButton color="sky" (click)="logout()">יציאה</button>
</mat-toolbar>

<section class="container">
  <div class="text">
    ברוכים הבאים ל-פלקסי, אם זו פעם ראשונה שלכם כאן, צפו בסרטון מטה להנחיות
    אם כבר ביקרתם בעבר, לחצו על "התחלה" כדי להתחיל בשאלון.
  </div>

  <div class="bottom">
    <div>
      <iframe width="100%" height="100%" src="https://www.youtube.com/embed/foRxP78MHBA"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen>
      </iframe>
    </div>

    <button flexyButton size="large" color="wood" class="start-button" (click)="startQuestionary()">התחל</button>
  </div>

</section>

<flexy-footer></flexy-footer>
