<div class="container" *ngIf="currentQuestion$ | async as question">
  <div class="top">
    <mat-toolbar color="primary">
      <div class="logo-container">
        <img src="assets/images/flexy-logo.png">
      </div>

      <button flexyButton color="navy" (click)="logout()">יציאה</button>
    </mat-toolbar>
    <ng-container *ngIf="allQuestions$ | async as all">
      <flexy-progress-bar [progress]="progress$ | async" [total]="all.length"></flexy-progress-bar>
    </ng-container>
  </div>


  <section class="question-form" [@slideInOut]="question">
    <div class="question">
      {{question.question}}
    </div>

    <mat-radio-group
      [formControl]="answerFormControl"
      class="answers-radio-group">
      <mat-radio-button [disabled]="sendAnswers" class="radio-button" *ngFor="let answer of answers"
                        [value]="answer.value">
        {{answer.text}}
      </mat-radio-button>
    </mat-radio-group>

    <div class="button-container" [class.first-question]="question.id === 1">

      <button flexyButton appearance="ghost"
              color="info"
              size="medium"
              *ngIf="question.id !== 1"
              [disabled]="sendAnswers" (click)="previousQuestion()">חזור
      </button>

      <button type="button" flexyButton
              [color]="question.id < 30 ? 'info' : 'info'"
              size="medium"
              (click)="nextQuestion(question)"
              [disabled]="!answerFormControl.valid || sendAnswers">{{question.id < 30 ? 'הבא' : 'סיים'}}
      </button>
    </div>

    <button flexyButton color="info" size="large" type="button" *ngIf="sendAnswers" (click)="goToResults()">לעבור
      לתוצאות
    </button>
  </section>
</div>
