:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  form {
    position: relative;

    button {
      margin-top: 16px;
    }
  }

  .validation {
    color: #f44336;
    font-size: 10.5px;
    position: absolute;
    right: 0;
    bottom: -32px;
  }
}
