:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  form {
    position: relative;

    button {
      margin-top: 16px;
    }
  }


  .logo-container {
    width: 100px;
  }

  .validation {
    font-size: 10.5px;
    position: absolute;
    right: 0;
    bottom: -32px;
  }
}
